/* -------------------------------- 

Footer

-------------------------------- */

footer {
	background-color: #03a9f4;
	padding: 20px 0;
	text-align: center;
	margin-top: 20px;
	.copyright {
		text-align: center;
		color: #FFFFFF;
		margin: 0 25px;
		font-size: 14px;
		line-height: 40px;
	}
}