body {
  padding: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: #2a2a2a;
  font-size: 1em;
}

main {
	text-align: center;
}

h1 {
	font-size: 4em;
}

p {
	color: #424242;
	font-family: monospace;
	margin-top: -2em;
}

.shimmer {
	display: inline-block;
	color:#000;
	background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
	background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
	background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
	background-position: -5rem top;
	background-repeat: no-repeat;
	background-color: #000;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shimmer 4s infinite;
	background-size: 5rem 100%;
}

@keyframes shimmer {
	0% {
		background-position:-5rem top;
	}
	50% {
		background-position: calc(100% + 5rem) top;
	}
	100% {
		background-position:-5rem top;
	}
}