/* -------------------------------- 

Header 

-------------------------------- */
header {
  padding: 50px 0 30px;
  text-align: center;
  background-color: #333;
  background: radial-gradient(#03a9f4, #004b6d);
  background-position: center center;
  background-repeat: no-repeat;
}

header h1 {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  color: white;
  /*reflection */
}

@media only screen and (min-width: 540px) {
  header h1 {
    font-size: 4em;
  }
}

header h1:before {
  content: attr(data-text);
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  line-height: 0.9em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(85%, transparent));
  background: linear-gradient(0deg, #fff 0, transparent 85%);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0.2;
}

header p {
  color: #c1c1c1;
  margin-top: 0;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: .8em;
}

@media only screen and (min-width: 500px) {
  header p {
    letter-spacing: 4px;
    font-size: 1em;
  }
}

/* -------------------------------- 

Footer

-------------------------------- */
footer {
  background-color: #03a9f4;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

footer .copyright {
  text-align: center;
  color: #FFFFFF;
  margin: 0 25px;
  font-size: 14px;
  line-height: 40px;
}

/* -------------------------------- 

Navigation 

-------------------------------- */
/* navigation bar using flex */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

nav ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  border-right: 1px dashed #FFF;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  background-size: 100% 200%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #03a9f4), color-stop(50%, #004b6d));
  background-image: linear-gradient(to bottom, #03a9f4 50%, #004b6d 50%);
  -webkit-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

nav ul li a:hover {
  text-decoration: none;
  background-position: 0 -100%;
  color: #fff;
  -webkit-transition: background-position 0.5s;
  transition: background-position 0.5s;
}

@media only screen and (min-width: 500px) {
  /* Make links stack on smaller screens */
  nav a {
    float: none;
    width: 100%;
    border-bottom: 1px solid #000;
  }
}

/* -------------------------------- 

Navigation 

-------------------------------- */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* -------------------------------- 

Gallery

-------------------------------- */
#gallery {
  padding-top: 20px;
}

#gallery .field-group {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 20px 150px 1fr;
      grid-template-columns: 20px 150px 1fr;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 20px;
}

#gallery .album-grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 540px) {
  #gallery .album-grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  #gallery .album-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

#gallery .album-grid:nth-of-type(3) {
  padding-top: 20px;
}

#gallery .itemTitle {
  margin-top: auto;
}

#gallery .description {
  margin-top: 10px;
}

#gallery .card {
  background-color: #f5f5f5;
  position: relative;
}

#gallery .card .head {
  text-align: center;
  background-color: #005d87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 160px;
}

#gallery .card .head a:hover {
  background: #004b6d;
  display: block;
}

#gallery .card .body {
  padding: 20px;
}

#gallery .card .body h2 {
  margin: 0;
}

#gallery .card .private {
  position: absolute;
  top: 1px;
  left: 1px;
  text-shadow: .5px .5px #000000;
  color: #ffffff;
}

#gallery .card .fa-lock {
  position: absolute;
  top: 5px;
  right: 5px;
  text-shadow: .5px .5px #000000;
  color: #ffffff;
}

#gallery .card .fa-images,
#gallery .card .fa-image {
  width: 100%;
  text-align: center;
  font-size: 100px;
  color: #ffffff;
  text-shadow: 5px 2px #000000;
}

#gallery input[type="checkbox"] {
  grid-column: 1/-1;
}

#login-header {
  top: 1em;
  right: 1em;
  color: #fff;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: right;
  margin: 0;
  position: absolute;
}

#login-header.clickable {
  cursor: pointer;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

#login-header.clickable:hover {
  background-color: #03a9f4;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.error {
  color: #ff0000;
}

#album-form {
  padding-top: 20px;
}

#album-form .field-group {
  margin-top: 20px;
}

#album-form .field-group label {
  display: inline-block;
  width: 100px;
}

#album-form .field-group input[type=text], #album-form .field-group input[type=number], #album-form .field-group input[type=email], #album-form .field-group input[type=password], #album-form .field-group select, #album-form .field-group textarea {
  width: calc(100% - 120px);
  vertical-align: top;
}

#image-form {
  padding-top: 20px;
}

#image-form .field-group {
  margin-top: 20px;
}

#image-form .field-group label {
  display: inline-block;
  width: 100px;
}

#image-form .field-group input[type=text], #image-form .field-group input[type=number], #image-form .field-group input[type=email], #image-form .field-group input[type=password], #image-form .field-group select, #image-form .field-group textarea {
  width: calc(100% - 120px);
  vertical-align: top;
}

#image-form .thumb {
  margin: 20px;
  margin-left: 100px;
  width: 300px;
  height: auto;
}

.list-table {
  width: 100%;
}

.list-table th {
  text-align: left;
  padding: 5px 10px;
}

.list-table td {
  padding: 5px 10px;
}

.list-table tr {
  background-color: #f5f5f5;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.share_key {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  z-index: -1000;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Segoe UI";
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #0076b6;
}

h1 {
  text-align: center;
  color: #fff;
}

h3 {
  text-align: center;
  font-weight: normal;
  color: #000;
}

h3.sub-title {
  margin-top: -20px;
}

a {
  color: #03a9f4;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

main {
  margin: 0 20px;
  padding: 0;
  height: auto;
  min-height: 500px;
}

main p {
  font-size: 1.1em;
  color: #c1c1c1;
}

b {
  color: #000000;
  font-weight: bold;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

/* -------------------------------- 

Form Elements

-------------------------------- */
input[type=text], input[type=number], input[type=email], input[type=password], select, textarea {
  font-size: 1em;
  color: #797979;
  border: 1px solid #888;
  padding: 6px;
  border-radius: 4px;
  background-color: #f2f7fa;
  width: 100%;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus, select:focus, textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

textarea {
  min-height: 200px;
}

.button {
  max-width: 150px;
  width: 100%;
  height: 35px;
  color: #FFFFFF;
  background-color: #179bd7;
  border-radius: 5px;
  border: 0;
  font-size: .875rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.button:hover {
  color: #FFFFFF;
  background-color: #000000;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.button.red {
  background-color: #e60f0f;
}

.button.red:hover {
  color: #FFFFFF;
  background-color: #000000;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

a.button {
  display: block;
  padding: 8px;
  text-decoration: none;
}

.left a.button {
  margin-right: auto;
}

.right a.button {
  margin-left: auto;
}

label, .bold {
  font-weight: bold;
}

img.responsive {
  width: 100%;
  height: auto;
}

img.white-border {
  background-color: white;
  padding: 10px;
}

img.shadow {
  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*# sourceMappingURL=style.css.map */