/* -------------------------------- 

Confirmation

-------------------------------- */

.invoice {
	background-color: #fff;
	padding: 1rem;
	width: 100%;
	@include MQ(540px) {width: 500px;}
	margin: 20px auto;
	font-size: 1.1em;
	color: #c1c1c1;

	.info-list {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr;
		@include MQ(540px) {grid-template-columns: 1fr 1fr;}
		align-items: start;
	}
	.info {
		font-size: 1.1em;
		padding: 5px 0;
	}
	
	.item-list {
		display: grid;
		gap: 1px;
		grid-template-columns: 60px 1fr 60px 80px;
		background-color: #ccc;

	}
	.item {
		padding: 5px 10px;
		background-color: #fff;
		color: #000000;
		font-size: .7em;
		@include MQ(540px) {font-size: 1em;}

		&.heading {
			font-size: .8em;
			font-weight: normal;
			color: #c1c1c1;
		}
	}

	.options {
		margin: 5px auto;
		padding-left: 30px;
		
		li {
			font-size: 11px;
			color: #555;
			font-weight: normal;
			list-style-type: square;
		}
	}
	
}