/* -------------------------------- 

Items

-------------------------------- */

#items {

	padding-top: 20px;

	.field-group {
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 20px 150px 1fr;
		align-items: baseline;
		margin-top: 20px;

		&.options {
			grid-template-columns: 1fr 1fr;
		}
		&.qty {
			grid-template-columns: 28px 1fr 1fr;
		}
	}

	.item-grid {
		display: grid;
		gap: 1rem;
		grid-template-columns: 1fr;
		@include MQ(540px) {grid-template-columns: 1fr 1fr;}
		@include MQ(800px) {grid-template-columns: 1fr 1fr 1fr;}
	}

	.card {
		padding: 20px;
		background-color: #f5f5f5;
	}	
}



#svg-icon {
	fill:#ffffff;
}
.shopping-cart {
	width: 2rem;
}

.cart-header {
	top: 4em;
	right: 2em;
	width: 200px;
	color: #fff;
	padding: 10px;

	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 2rem 1fr;
	align-items: center;
	text-align: left;

	margin: 0 auto;
	@include MQ(1000px) {margin: 0; position: absolute;}

	&:hover {
		background-color:#03a9f4;
	}
}
